
.brand{
    color: darkblue;
    font-weight: bolder;
}

footer {
    margin-top: 1.5%;
    align-items: center;
  }
  
.footerone,.footertwo,.footerthree,.footerfour {
  display: block;  
  text-align: center;
  padding: 0%;
  margin: 0; /* Remove all margins */
}
footer p {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 0.5em; /* Add spacing around each p element */
    margin: 0 0.5em; /* Add additional spacing between p elements */
    color: rgb(59, 59, 59);
  }

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.messages ul {
    list-style-type: none;
    padding: 0;
}

.messages li {
    margin-bottom: 10px;
}

.message-content {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.received .message-content {
    background-color: #f1f0f0;
    align-self: flex-start;
}

.sent .message-content {
    background-color: #d1e7dd;
    align-self: flex-end;
}

.send-message {
    width: 100%;
    max-width: 600px;
}

.send-message form {
    display: flex;
    flex-direction: column;
}

.send-message button {
    align-self: flex-end;
    margin-top: 10px;
}
