{% extends 'home.html' %}
{% block title %} About Us {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div>
            <h3>About Us</h3>
            <p>
                Welcome to <strong>VIBE</strong>, a web app designed to help you make new friends who truly match your vibe.
            </p>
            <p>
                We're a small but passionate team, led by <strong>Sammengi Arjun</strong>, a second-year student at IIEST, Shibpur. Arjun is dedicated to creating value-driven products with simple, user-friendly designs. He's assisted by two AI chatbots ChatGPT and Gemini, which provides invaluable support in developing the best possible app for you.
            </p>
            <p>
                At VIBE, we believe that having friends who match your vibe can significantly enhance your life. Our app is designed to be clutter-free and easy to use, making it simple for you to connect with like-minded individuals. We're currently in our first version, but we're always listening to your <a href="mailto:sammengiarjun@gmail.com">feedback</a> and working to improve. Stay tuned for exciting new features!
            </p>
            <p>
                Our mission is to help you find friends who truly resonate with you. If you have any feedback or suggestions, please don't hesitate to reach out to us at <a href="mailto:sammengiarjun@gmail.com">sammengiarjun@gmail.com</a>. Your input is invaluable to us!
            </p>
            <p>
                Learn more about Sammengi Arjun on <a href="https://www.linkedin.com/in/arjun-sammengi-4108a3269/" target="_blank">LinkedIn</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}
