{% extends 'home.html' %}
{% block title %}
Login
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <h5 class="text-center">New user to VIBE? <a href="{% url 'register' %}">Register here</a></h5>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group mt-3">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
