{% extends 'home.html' %}
{% block title %}
Profile
{% endblock%}
{% block body %}

<h1>{{ user.username }}'s Profile</h1>
<p>Email: {{ user.email }}</p>
<p>Gender: {{ user.get_gender_display }}</p>
<p>Date of Birth: {{ user.date_of_birth }}</p>
<p>Class 10 School: {{ user.class_10_school }}</p>
<p>Class 10 Passing Year: {{ user.class_10_passing_year }}</p>
<p>Class 12 School: {{ user.class_12_school }}</p>
<p>Class 12 Passing Year: {{ user.class_12_passing_year }}</p>
<p>College Name: {{ user.college_name }}</p>
<p>Expected Graduation Year: {{ user.expected_graduation_year }}</p>

{% endblock %}
